/* Sidebar */

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: #015249 !important;
  border-radius: 0px 20px 20px 0px !important;
}

.css-1nxmd3h-MuiListItem-root {
  width: auto !important;
  margin: 0px 25px 0px 20px !important;
  background-color: #043933;
  box-shadow: 0px 5px 25px #00000040 !important;
  border-radius: 10px;
  color: #fff;
}

.css-cveggr-MuiListItemIcon-root{
  min-width: 0px !important;
}

.iconCustomer{
  font-size: 26px;
  color: #fff;
  margin-right: 12px;
}

.css-zxtyt4-MuiPaper-root-MuiAppBar-root {
  background-color: #fff !important;
  box-shadow: none !important;
}

.navHeading {
  color: black;
  font-size: 22px !important;
  font-weight: 700 !important;
  letter-spacing: 0.0072em !important;
}

.css-1v5u2yv {
  background-color: #f3f3f3 !important;
  height: 100vh;
}


/* MAIN SECTION */

.btn-addCustomer{
  background: linear-gradient(105deg, rgba(87,188,144,1) 0%, rgba(0,75,64,1) 105%);
  font-size: 14px;
  border: none !important;
}
